body{
    background-color: #ffb300;
    text-align: center;  
    font-family: 'Karla', sans-serif;
}

#logo{
    height: 120px;
    width: 120px;
    border-radius: 25px;
    margin: 0 auto;
    display: block;
}

header h1 a{
    text-decoration: none;
    color: #1b5e20;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    display: block;
    line-height: 0px;
   
}

.botonesrrss{
   height: 30px;
   width: 30px;
   padding: 1px;
   margin: 0px, 0px, 0px, 0px;
}

.botonerainferior{
text-decoration: none;
list-style-type: none;
margin: 20px;
text-transform: uppercase;
text-align: center;
}

.botonerainferior a{
    text-align: center;
    margin: 0 auto;
    height: 50px;
    width: 150px;
    padding: 5px;
    margin bottom: 20px;
    margin top: 20px;
    background: #43a047;
    border-radius: 5px;
    border: solid 3px black;
    color: #7B1FA2;
    text-decoration: none;

}
.botonerainferior a:hover{
background: #E1BEE7;
color: #757575;
padding: 5px;
border-radius: 5px;
border-radius: 8px;
border-color: #CDDC39;
}


#descripcion{
    width: 340px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    color: #1b5e20;
}